[submodule "container2wasm"]
	path = container2wasm
	url = https://github.com/ktock/container2wasm.git
[submodule "deps/sysinit"]
	path = deps/sysinit
	url = https://github.com/roshbhatia/sysinit.git
