@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.root {
  animation: fadeIn 0.2s ease-out;
  background: var(--bg);
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}
